<div id="header"><h1><%=h @climb.description %></h1><div>

<% form_for(@climb) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :activity %><br />
    <%= f.collection_select(:activity_id, @activities, :id, :description) %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :duration_seconds %><br />
    <%= f.text_field :duration_seconds %>
  </p>
  <p>
    <%= f.label :altitude_gained_feet %><br />
    <%= f.text_field :altitude_gained_feet %>
  </p>
  <p>
    <%= f.label :weight_pounds %><br />
    <%= f.text_field :weight_pounds %>
  </p>
  <p>
    <%= f.label :weight_of_equipment_pounds %><br />
    <%= f.text_field :weight_of_equipment_pounds %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
