<div id="header"><h1><%=h @climb.description %></h1></div>

<p>
  <b>Activity:</b>
  <%=h @climb.activity.description %>
</p>

<p>
  <b>Description:</b>
  <%=h @climb.description %>
</p>

<p>
  <b>Duration seconds:</b>
  <%=h @climb.duration_seconds %>
</p>

<p>
  <b>Altitude gained feet:</b>
  <%=h @climb.altitude_gained_feet %>
</p>

<p>
  <b>Weight pounds:</b>
  <%=h @climb.weight_pounds %>
</p>

<p>
  <b>Weight of equipment pounds:</b>
  <%=h @climb.weight_of_equipment_pounds %>
</p>

<p>
  <b>Average power:</b>
  <%=h sprintf("%.2f", @climb.avg_power) %> watts
</p>

<p>
  <b>Power-to-weight ratio:</b>
  <%=h sprintf("%.2f", @climb.power_to_weight) %> w/kg
</p>

<div id="lNav">
  <%= link_to 'Edit', edit_climb_path(@climb) %>
  <%= link_to 'Delete', @activity, :confirm => "Are you sure?", :method => :delete %>
</div> <!-- end lNav -->
