<head>
  <title>Training Log</title>

</head>

<% if flash[:message] %>
  <div id="flash_message"><%= flash[:message] %></div>
<% end %>  <!-- end flash message -->

<div id="summary_col1">

  <div id="graph">
    <div id="weight-chart-container" style="width: 850px; height: 350px"></div>
  </div>

  <div id="graph">
    <div id="bodyfat-chart-container" style="width: 850px; height: 350px"></div>
  </div>

</div> <!-- end col1 -->

<div id="summary_col2">

  <!-- Fitness Samples -->
  <% unless @fitness_samples.nil? %>
    <table id="gradient-style">
      <thead>
    	  <tr>
          <th scope="col">Fitness Samples</th>
        </tr>
      </thead>
      <tbody>
        <% for fitness_sample in @fitness_samples %>
          <tr>
            <td><%= link_to "[#{fitness_sample.date.to_s}] #{fitness_sample.weight_pounds} lbs, #{fitness_sample.body_fat_percentage}%", fitness_sample %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @fitness_samples, :param_name => 'fs_page' %>
  <% end %>
  <div id="lNav">
    <%= link_to 'New Fitness Sample', :controller => 'fitness_samples', :action => 'new' %>
  </div> <!-- end lNav -->

  <!-- Activities -->
  <% unless @activities.nil? %>
    <table id="gradient-style">
      <thead>
    	  <tr>
          <th scope="col">Activities</th>
        </tr>
      </thead>
      <tbody>
        <% for activity in @activities %>
          <tr>
            <td><%= link_to "[#{activity.date.to_s}] #{activity.description}", activity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @activities, :param_name => 'activity_page' %>
  <% end %>
  <div id="lNav"
    <%= link_to 'New Activity', :controller => 'activities', :action => 'new' %>
  </div> <!-- end lNav -->

  <!-- Climbs -->
  <% unless @climbs.nil? %>
    <table id="gradient-style" summary="Meeting Results">
      <thead>
    	  <tr>
          <th scope="col">Climbs</th>
        </tr>
      </thead>
      <tbody>
        <% for climb in @climbs %>
          <tr>
            <td><%= link_to "[#{climb.activity.description}] #{climb.description}", climb %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @climbs, :param_name => 'climb_page' %>
  <% end %>
  <div id="lNav">
    <%= link_to 'New Climb', :controller => 'climbs', :action => 'new' %> <br /><br />
  </div> <!-- end lNav -->
</div> <!-- end col2 -->

  <script type="text/javascript">
      var chart1; // globally available
      var fitnessSamplesUrl = "<%= url_for :action => 'user_samples_rolling_average', :controller => 'fitness_samples' %>/<%= current_user.id %>";
      var activityHoursUrl = "<%= url_for :action => 'user_activity_weekly_hour_totals', :controller => 'activities' %>/<%= current_user.id %>";

      var weight_data = [];
      var bodyfat_data = [];
      var activity_hours_data = [];

      $J(document).ready(function() {
          $J.ajax({
              type: 'GET',
              url: fitnessSamplesUrl,
              success: function(response) {
                  $J(response).each(function() {
                      var point = $J(this)[0];

                      weight_data.push([
                              Date.UTC(point.year, point.month, point.month_day),
                              point.weight_pounds
                      ])
                  });

                  $J(response).each(function() {
                      var point = $J(this)[0];

                      bodyfat_data.push([
                              Date.UTC(point.year, point.month, point.month_day),
                              point.body_fat_percentage
                      ])
                  });

                  $J.ajax({
                      type: 'GET',
                      url: activityHoursUrl,
                      success: function(response) {
                          $J(response).each(function() {
                              var point = $J(this)[0];

                              activity_hours_data.push([
                                      Date.UTC(point.year, point.month, point.month_day),
                                      point.hours
                              ])
                          });

                          if ((weight_data.length > 0) && (activity_hours_data.length > 0)) {
                              chart1 = new Highcharts.Chart({
                                  chart: {
                                      renderTo: 'weight-chart-container',
                                      defaultSeriesType: 'line'
                                  },
                                  title: {
                                      text: 'Weight'
                                  },
                                  xAxis: [{
                                      type: 'datetime',
                                      title: {
                                          text: 'Date'
                                      },
                                  }],
                                  yAxis: [{
                                      title: {
                                          text: 'Weight (pounds)'
                                      }
                                  }, {
                                      title: {
                                          text: 'Aerobic Hours per week'
                                      },
                                      opposite: true
                                  }],
                                  series: [{
                                      yAxis: 0,
                                      type: 'line',
                                      name: 'Weight Moving Average (7 Samples)',
                                      data: weight_data
                                  }, {
                                      yAxis: 1,
                                      type: 'line',
                                      name: 'Hours Weekly Total',
                                      data: activity_hours_data
                                  }]
                              });

                              chart2 = new Highcharts.Chart({
                                  chart: {
                                      renderTo: 'bodyfat-chart-container',
                                      defaultSeriesType: 'line'
                                  },
                                  title: {
                                      text: 'Body Fat Percentage'
                                  },
                                  xAxis: [{
                                      type: 'datetime',
                                      title: {
                                          text: 'Date'
                                      },
                                  }],
                                  yAxis: [{
                                      title: {
                                          text: 'Body Fat Percentage'
                                      }
                                  }, {
                                      title: {
                                          text: 'Aerobic Hours per week'
                                      },
                                      opposite: true
                                  }],
                                  series: [{
                                      yAxis: 0,
                                      type: 'line',
                                      name: 'Body Fat % Moving Average (7 Samples)',
                                      data: bodyfat_data
                                  }, {
                                      yAxis: 1,
                                      type: 'line',
                                      name: 'Hours Weekly Total',
                                      data: activity_hours_data
                                  }]
                              });
                          }
                      }
                  });
              }
          });
      });
  </script>
