<h2>Welcome, <%= current_user.login %>.</h2>

<% unless @activities.nil? %>
<h3>Activities</h3>
  <% for activity in @activities %>
    <%= link_to activity.description, activity %>
  <% end %>
  <%= will_paginate @activities, :param_name => 'activity_page' %>
<% end %>

<% unless @fitness_samples.nil? %>
<h3>Fitness Samples</h3>
  <% for fitness_sample in @fitness_samples %>
    <%= link_to "#{fitness_sample.weight_pounds} lbs / #{fitness_sample.body_fat_percentage}%", fitness_sample %>
  <% end %>
  <%= will_paginate @fitness_samples, :param_name => 'fs_page' %>
<% end %>

<% unless @climbs.nil? %>
<h3>Climbs</h3>
  <% for climb in @climbs %>
    <%= link_to climb.description, climb %>
  <% end %>
  <%= will_paginate @climbs, :param_name => 'climb_page' %>
<% end %>
