<div id="header"><h1>Fitness Sample for <%=h @fitness_sample.date.to_s %></h1></div>

<% form_for(@fitness_sample) do |f| %>
  <%= f.error_messages %>

 <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :weight_pounds %><br />
    <%= f.text_field :weight_pounds %>
  </p>
  <p>
    <%= f.label :body_fat_percentage %><br />
    <%= f.text_field :body_fat_percentage %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
