<h1>New fitness_sample</h1>

<% form_for(@fitness_sample) do |f| %>
  <%= f.error_messages %>

<p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :weight_pounds %><br />
    <%= f.text_field :weight_pounds %>
  </p>
  <p>
    <%= f.label :body_fat_percentage %><br />
    <%= f.text_field :body_fat_percentage %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', fitness_samples_path %>
