<div id="header"><h1>Fitness Sample for <%=h @fitness_sample.date.to_s %></h1></div>

<p>
  <b>Date:</b>
  <%=h @fitness_sample.date %>
</p>

<p>
  <b>Weight (pounds):</b>
  <%=h @fitness_sample.weight_pounds %>
</p>

<p>
  <b>Body fat percentage:</b>
  <%=h @fitness_sample.body_fat_percentage %>
</p>

<div id="lNav"><%= link_to 'Edit', edit_fitness_sample_path(@fitness_sample) %></div>
