<h1>Editing activity</h1>

<% form_for(@activity) do |f| %>
  <%= f.error_messages %>

 <p>
    <%= f.label :activity_type %><br />
    <%= f.collection_select(:activity_type_id, @activity_types, :id, :name) %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :duration_hours %><br />
    <%= f.text_field :duration_hours %>
  </p>
  <p>
    <%= f.label :distance_miles %><br />
    <%= f.text_field :distance_miles %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @activity %> |
<%= link_to 'Back', activities_path %>
