<div id="header"><h1><%=h @activity.description %></h1></div>

<p>
  <b>Activity type:</b>
  <%=h @activity.activity_type.name %>
</p>

<p>
  <b>Date:</b>
  <%=h @activity.date %>
</p>

<p>
  <b>Description:</b>
  <%=h @activity.description %>
</p>

<p>
  <b>Duration hours:</b>
  <%=h @activity.duration_hours %>
</p>

<p>
  <b>Distance miles:</b>
  <%=h @activity.distance_miles %>
</p>

<div id="lNav"><%= link_to 'Edit', edit_activity_path(@activity) %></div>
