<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script type="text/javascript" language="JavaScript"><!--
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
//--></script>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'global' %>
  <%= stylesheet_link_tag 'table-style' %>
</head>
<body>

  <div id="page">

    <!--    <div id="header"><h1>Training Log</h1></div> -->

    <%= yield  %>

    <div id="footer">
      <%= render :partial => 'application/global_navigation' %>
    </div> <!-- end footer -->

  </div> <!-- end page -->

</body>
</html>

